@model THLTWLAB3.Models.Book

@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p style="font-size:24px"> Ban da mua con sach nay<strong>@Model.title</strong>voi gia <strong>@Model.price</strong>VND</p>

